
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.display-none{
    display: none;
}

  .container{
    max-width: 1200px;
    margin: 0 auto;
  }





/* navbar-style */
header{
    background-color: #1A0B2E;

}
hr {
    border: none;
    height: 1px;
    background-color: #5e3b8d;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
}
.menu{
    display: flex;
    gap: 2rem;
    list-style: none;
    
}
.menu a{
    color: #FFFFFF;
    text-decoration: none;
}
/* button-style */

.btn{
    border-radius: 30px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    padding: 12px 16px 12px 16px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    animation: pulse-animation 2s infinite;
}
@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 255, 149, 0.7);
        transform: scale(1);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(0, 255, 149, 0);
        transform: scale(1.05);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(0, 255, 149, 0);
        transform: scale(1);
    }
}
 
.hamburger-icon{
    display: none;
    color: white;
}
/* banner-style */

#banner{
    background-image:url(./../assets/hero-bg.png) ;
    background-position: center;
    background-size: cover;
    padding: 205px 0;
}
.banner-center{
    max-width: 550px;
    justify-items: center;
}
img.circle {
    margin-left: 100px;
}



.banner-circle {
    position: relative;
    bottom: 19px;
    right: 10px;
}

img.circle {
    margin-left: 20px;
    }

img.microphone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-92px, -101px);
}

.badeg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(116px, -139px);
    background-color: #06fb87;
    padding: 12px 16px;
    border-radius: 100px;
}
.banner-content {
    text-align: center;
    color: #fff;
}

h1.banner-title {
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 20px;
}

p.banner-text {
    margin-bottom: 20px;
}

button {
    padding: 16px 12px;
    border-radius: 100px;
    border: 1px solid green;
    background: transparent;
    color: #fff;
}

/* about-section */
#about{
    background-color: #1A0B2E;
   
}
.about-content{
    text-align: center;
   
    padding: 50px 200px;
}
.about-title{
    font-size: 3rem;
    color: #FFFFFF;
    margin-bottom: 1rem;
}
.about-text1{
    font-size: 1rem;
    color: #FFFFFF;
    line-height: 1.4rem;
    margin-bottom: 2rem;
}

.about-text2{
   font-size: 1rem;
    color: #FFFFFF;
    
}

.about-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
   
    padding: 70px 140px;
    
}
.card{
    text-align: center;
    color:#00FF88;
}
.card-title{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.card-text{
    color: #FFFFFF;
}
  
/* main-card */
#card-section{
    background-color:#230E3D ;
}
.main-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    
   
}
.card-1{
    padding:107px 40px;
    grid-row: span 2;
    grid-column: span 1;
    background: rgba(53, 17, 101, 0.4);
    border-radius: 10px;
}
.card-2{
     grid-column: span 2;
     background: rgba(53, 17, 101, 0.4);
     padding: 40px 40px;
     border-radius: 10px;
}
.card-3{
     grid-column: span 2;
     background: rgba(53, 17, 101, 0.4);
     padding: 40px 40px;
     border-radius: 10px;
}
.card-4{
     grid-column: span 2;
     background: rgba(53, 17, 101, 0.4);
     padding:45px 40px;
     border-radius: 10px;
}
.card-5{
     grid-column: span 1;
     grid-row: span 1;
     background: rgba(53, 17, 101, 0.4);
     padding: 40px 40px;
     border-radius: 10px;
}
.about-content-1{
    font-size: 2rem;
    color: #FFFFFF;
    text-align: center;
   padding: 50px 200px;
   border-radius: 10px;
}
.card-image{
    margin-bottom: 1rem;

}
.main-card-title{
    font-size: 1.5rem;
    color: #FFFFFF;
    margin-bottom: 16px;
    border-radius: 10px;
}

.main-card-text{
    font-size: 1rem;
    line-height: 1.4rem;
    color: #f5e3e3;
}

/* video-section */

#video{
    background-color: #1A0B2E;
    
}
.video-heading{
    padding-top:3rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 2.2rem;
    color: white;
}
.video-card{
    display: flex;
    justify-content: space-between;
    
   
}
.video {
  max-width: 380px;
  aspect-ratio: 16 / 9;
  border-radius: 16px;
  overflow: hidden; 
  margin-bottom: 1.5rem; 
}

.video iframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}
  .video-title{
    font-size: 1.7rem;
    color: #FFFFFF;
    margin-bottom: 0.7rem;
    
  }
  .vide--description{
    font-size: 1rem;
    color:  #f5e3e3;
    margin-bottom: 0.8rem;
  }
  .video-duration{
    font-size: 1rem;
    color: #41ee9d;
    margin-bottom: 1rem;
  }
/* host-section */
.heading .head{
    font-size: 3rem;
    text-align: center;
    color: #FFFFFF;
    margin-top: 6rem;
    margin-bottom: 2.6rem;
}
.host-card{
    display: flex;
    gap: 20px;
}
.host-card-container{
     background-color: rgba(53, 17, 101, 0.4);
     border-radius: 12px;
     padding: 2.6rem 1.5rem ;

}
.host-content .name{
    font-size: 2rem;
    color: #FFFFFF;
    margin-bottom: 1rem;
}
.host-content .host-descripton{
    font-size: 1rem;
    color: #f5e3e3;
    margin-bottom: 1rem;
    padding: ;
}

.host-icon{
    display: flex;
    align-items: center;
    gap: 12px;
    
   
}
.host-icon img{
    padding: 10px;
      border: 1px solid #533C72;
      border-radius: 50%;
}
/* responsive  */
@media  screen and (max-width:576px) {
    .nav{
        justify-content: space-between;
       
    }
    nav .logo{
        text-align: left;
    }
    .menu{
        display: none;
    }
    .hamburger-icon{
        display: inline;
    }
    .display-none{
        display: none;
    }


/* Banner */
#banner {
    background-position: top center;
    background-size: 166% 95%;
    background-repeat: no-repeat;
}

img.microphone {
    width: 120px;
}
img.circle {
    width: 200px;
}

img.microphone {
    top: 73%;
    left: 69%;
}
.badeg {
    transform: translate(46px, -107px);
}
/* card section */
.about-card{
     grid-template-columns: repeat(2, 1fr);
   
}
.about-content {
   
    padding: 48px

}
.about-title {
    font-size: 32px;
    
} 
/* maim-card responsive */
.main-card {
    grid-template-columns: repeat(1, 1fr);
   }

   .about-content-1 {
    
    color: #FFFFFF;
     padding: 9px 4px;
    
}
/* video */
.video-heading{
    text-align: center;
}
.video-card{
    margin-left: 20px;
    flex-direction: column;
    
}
/* host section */
.host-card{
    flex-direction: column;
    align-items: center;
}
.host-content{
    text-align: center;
}
.host-icon {
    justify-content: center;
}
}
   
    


  
